<!--<div class="row">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
<form>
  <div class="modal-header">
    <h4 class="modal-title">学生信息[{{currentUser.id}}]</h4>
    <button type="button" class="close" (click)="actionModal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <div class="input-group col-sm-4 col-md-4 col-lg-4">
        <div class="input-group-prepend">
          <span class="input-group-text">姓名</span>
        </div>
        <input type="text" id="modal-username" name="modal-username" [(ngModel)]="currentUser.name" class="form-control" >
      </div>

      <div class="input-group col-sm-4 col-md-4 col-lg-4">
        <div class="input-group-prepend">
          <span class="input-group-text">角色</span>
        </div>
        <select class="form-control" [(ngModel)]="currentUser.role">
          <option value="'user'">用户</option>
          <option value="'admin'">管理员</option>
        </select>
      </div>

      <div class="input-group col-sm-4 col-md-4 col-lg-4">
        <div class="input-group-prepend">
          <span class="input-group-text">密码</span>
        </div>
        <input type="text" id="modal-className" name="modal-className" [(ngModel)]="currentUser.password" class="form-control" >
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="actionModal.dismiss()">取消</button>
    <button type="button" class="btn btn-primary" (click)="save()">保存</button>
  </div>
</form>

    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>-->
